<%- include('../partials/header') %>
<%- include('../partials/tnav') %>

<h1>Here is what you sent</h1>

<p>Course: <%= contract.course %></p>
<p>Duration: <%= contract.courseDuration %></p>
<p>Teacher: <%= contract.teacher %></p>

<%- include('../partials/footer') %>